########################
# Python cache
########################
__pycache__/
*.py[cod]
*$py.class

########################
# Virtual environments
########################
venv/
.venv/
env/
.env/

########################
# IDE / OS files
########################
.DS_Store
.idea/
.vscode/

########################
# FastF1 cache
########################
# Cache locale nella repo (se configurata)
fastf1_cache/
cache/


